@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255,245,0;
  --background-end-rgb: 255,245,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0,0,0;
    --background-end-rgb: 0,0,0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brandname {
  position: fixed;
  top: 30px;
  left: 40px;
  font-size: 4.3vh;
  color: #ffffff; 
  font-family: "Kumar One", serif;
  font-weight: 900;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 2px 2px 6px #00000044;
  z-index: 1000;
}

.item {
  position: fixed;
  font-size: 18px;
  top: 38px;
  color: #666;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 2px 2px 6px #00000044;
  z-index: 1000;
}

.item:hover {
  color: #ffffff;

}




/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; 
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

input.box::-webkit-outer-spin-button,
input.box::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input.box[type=number] {
  -moz-appearance: textfield;
}

input.box::placeholder {
  font-weight:100;
  opacity: 0.66;
}